:host {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid;
  background-color: white;
}

.middle {
  flex: 1;
  justify-content: center;
  display: flex;
  gap: 5px;
}

input {
  flex: 0 1 500px;
}
